.works-screen {
    background-color: var(--bg-main-works);
    height: 100vh;
    display: flex;
    justify-content: center;

};


.image-cards {
  position: relative;
}




.big-card-first {
    transform: translate(-50%, 50%) rotate(-10deg);
    aspect-ratio: 5 / 8;
    width: 250px;
    position: absolute;
}

.big-card-second {
     transform: translate(-50%, 50%) rotate(-6deg);
     aspect-ratio: 5 / 8;
    width: 250px;
    position: absolute;
    
}

.big-card-third {
     transform: translate(-50%, 50%) translateY(-2%) translateX(11%);
     aspect-ratio: 5 / 8;
    width: 250px;
    position: absolute;
     

}

.big-card-fourth {
     transform: translate(-50%, 50%) rotate(3deg);
     aspect-ratio: 5 / 8;
    width: 250px;
    position: absolute;
     
}



/*? transformation */

.image-cards:hover .big-card-fourth {
  transform: translate(-50%, 50%) rotate(10deg);
}

