.works-screen {
    background-color: var(--bg-main-works);
    height: 100vh;
    display: flex;
    justify-content: center;

};


.image-cards {
  position: relative;
}


.big-card  {
    width: 250px;
    aspect-ratio: 5 / 8;
    position: absolute;
    transition: transform 0.3s ease-in-out;
};


.big-card-first {
    transform: translate(-50%, 50%) rotate(-10deg);
    width: 500px;
    width: 250px;
    aspect-ratio: 5 / 8;
    position: absolute;
    transition: transform 0.3s ease-in-out;
     
}

.big-card-second {
     transform: translate(-50%, 50%) rotate(-6deg);
     width: 250px;
    aspect-ratio: 5 / 8;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    
}

.big-card-third {
     transform: translate(-50%, 50%) translateY(-2%) translateX(11%);
     width: 250px;
    aspect-ratio: 5 / 8;
    position: absolute;
    transition: transform 0.3s ease-in-out;
     

}

.big-card-fourth {
    transform: translate(-50%, 50%) translateX(11%) rotate(3deg);
    width: 250px;
    aspect-ratio: 5 / 8;
    position: absolute;
    transition: transform 0.3s ease-in-out;
     
}



/*? transformation */

.image-cards:hover .big-card-fourth {
  transform: rotate(30deg);
}

